#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app{
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  border-radius: 12px;
  

  background: #FFF3C4;
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: self-start;
  width: 90%;
  padding: 2px 1em 1em 2px;
  border-radius: 8px;
  
  
  font-size: large;
  background-color: #FFCE13;
}

.input {
  border-radius: 8px;
  height: 2em;
  width: 80%;
  margin-left: 1em;
  position: relative;
}

.preview {
  width: 100px;
}

.form-preview {
  padding: 5em;
  border: 2px solid black;
  border-radius: 12px;

  background: linear-gradient( to bottom right, #3300ffa4, #62008B, #004cff8c);
}

.preview-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  border-radius: 8px;
  width: max-content;

  background: linear-gradient( to bottom left, #950077,#1E0095 );
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}